html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.all-unset {
    all:unset;
}

.br-40{
    border-radius:40px;
}

.br-bottom-40 {
    border-radius: 0px 0px 40px 40px;
}

.br-top-40 {
    border-radius: 40px 40px 0px 0px;
}

.br-left-40 {
    border-radius: 40px 0px 0px 40px;
}

.br-right-40 {
    border-radius: 0px 40px 40px 0px;
}

body {
    margin-bottom:0px;
}

.wrapper {
    min-height: calc(100vh - 80px);
}

.longrow {
    height: 800px;
}

.wordwrap {
    word-break: break-all;
    word-wrap: break-word;
}

.footer, .push {
    height: 142px; 
}

.swal2-popup {
    border-radius: 40px;
}

    .swal2-popup .swal2-actions{
    }

    .swal2-popup .swal2-styled {
        border-radius: 40px;
        background: #037c0e;
    }

        .swal2-popup .swal2-styled:hover {
            background-color: #03620b;
            color: white;
        }

        .swal2-popup .swal2-styled:focus {
            box-shadow: unset;
        }

.swal-confirm-popup-button {
    background: red;
}

.text-decoration-none {
    text-decoration: none;
}