html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.bd-cyan-100 {
    color: #212529;
    background-color: #abdee5;
}

.bd-cyan-200 {
    color: #212529;
    background-color: #86cfda;
}

.bd-cyan-300 {
    color: #212529;
    background-color: #61c0cf;
}

.bd-cyan-400 {
    color: #fff;
    background-color: #3cb1c3;
}

.bd-cyan-500 {
    color: #fff;
    background-color: #17a2b8;
}

.bd-cyan-600 {
    color: #fff;
    background-color: #13889b;
}

.bd-cyan-700 {
    color: #fff;
    background-color: #106e7d;
}

.bd-cyan-800 {
    color: #fff;
    background-color: #0c5460;
}

.bd-cyan-900 {
    color: #fff;
    background-color: #083a42;
}


:root {
    --color-darkblue1: #061c42;
    --color-darkblue2: #001f5e;
    --color-blue: #1469c2;
    --color-darkaqua: #0f6270;
    --color-aqua: #1ab1c9;
    --color-sea: #15c488;
    --color-green: #30b318;
}

body {
    margin-bottom:0px;
}

.wrapper {
    min-height: calc(100vh - 80px);
}

.longrow {
    height: 800px;
}

.wordwrap {
    word-break: break-all;
    word-wrap: break-word;
}

.footer, .push {
    height: 142px; 
}

.swal2-popup {
    border-radius: 40px;
}

    .swal2-popup .swal2-actions{
    }

    .swal2-popup .swal2-styled {
        border-radius: 40px;
        background: #037c0e;
    }

        .swal2-popup .swal2-styled:hover {
            background-color: #03620b;
            color: white;
        }

        .swal2-popup .swal2-styled:focus {
            box-shadow: unset;
        }

.swal-confirm-popup-button {
    background: red;
}

.btn-gradient {
    background: #002d7a;
    border-radius: 30px;
    font-size: 20px;
    border: none;
    color: red;
    height: 40px;
    line-height: 40px;
    padding-top: 0px;
    padding-bottom: 0px;
}

    .btn-gradient:hover {
        background: var(--color-blue);
        color: white;
    }