
.navbar {
    font-size: 18px;
}



.navbar-brand {
    font-size: 27px;
}

#footer {
    height: 80px;
    font-size: 16px;
    background:white;
}

.h100perc {
    height: 100%;
    line-height: 80px;
    font-size: 18px;
}

h2 {
    color: var(--color-blue);
}

h3 {
    color:white;
    font-size:20px;
}

h4 {
    color: var(--color-darkaqua);
    margin-bottom: 20px;
}

h5 {
    color: white;
}

.main-bodyheader {
    background: url(../images/MainPagePic1.jpg);
    border-radius: 30px;
    border-bottom: 1px solid white;
    height:400px;
}

.admin-list-item {
    background: #008395;
}

    .admin-list-item:hover {
        background: var(--color-aqua);
        color: white;
    }

.btn-main {
    border-radius: 15px;
}

    .btn-main:hover {
        background: var(--color-sea);
        color: white;
    }

.about-course {
    border: 1px solid white;
    border-radius: 30px;
    width: 220px;
    min-width: 170px;
}

.list-itd li {
    display: inline-block;
    background: #030305;
    text-decoration: none;
    font-weight:600;
}

.link {
    text-decoration: none;
    color: white;
}

    .link:hover {
        color: white;
    }

.list-itd li:hover {
    background: var(--color-aqua);
    color: white;
}

.btn-in-mainpage {
    margin-top: 20px;
    margin-bottom: 20px;
    background: var(--color-blue);
    border: none;
}

    .btn-in-mainpage:hover {
        background: var(--color-aqua);
        border: none;
    }


.mainofpage-references-a {
    color: #000;
    width: 100%;
    height: 300px;
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 2px;
    border: 1px solid #eaeaea;
}

.mainofpage-references {
    padding: 5px 10px 0px 10px;
    max-height: 550px;
    margin-bottom: 20px;
}

.documentary {
    font-size: 16px;
    border-radius: 0px 0px 20px 20px;
}

.margin-leftpart-mainpic{
    margin-top:15px;
}

.btn-mainnav {
    height: 40px;
    font-size: 16px;
    background: var(--color-darkaqua);
    color: white;
    border-radius: 15px;
}

    .btn-mainnav:hover {
        background: var(--color-aqua);
        color:white;
    }

.h-main{
    font-size:40px;
}

.about-course-part-text {
    padding: 0px 20px 0px 20px;
    font-size:20px;
}

.about-course-part-imgdiv {
    width: 200px;
    height: 200px;
    margin: 20px 0px;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
}

.about-course-part-img {
    width: 100%;
    height: 100%;
    border-radius: 100px;
    object-fit: cover;
}

.main-ul-willdo {
    margin-left: 0;
    list-style: none;
    counter-reset: li;
    font-size: 22px;
    margin-top:40px;
}

    .main-ul-willdo li {
        position: relative;
        margin-bottom: 1.5em;
        border: 3px solid var(--color-aqua);
        padding: 0.6em;
        border-radius: 4px;
        background: #FEFEFE;
        color: #231F20;
        font-family: "Trebuchet MS", "Lucida Sans";
        font-size: 22px;
    }

        .main-ul-willdo li:before {
            position: absolute;
            top: -0.7em;
            padding-left: 0.4em;
            padding-right: 0.4em;
            font-size: 18px;
            font-weight: bold;
            color: var(--color-darkaqua);
            background: #FEFEFE;
            border-radius: 50%;
            counter-increment: li;
            content: counter(li);
        }

.ul-lit {
    font-size:20px;
}

.ul-after-teach {

}

    .ul-after-teach li {
        font-size: 20px;
        list-style-type: none;
    }

        .ul-after-teach li::before {
            color: var(--color-aqua);
            content: "*";
            padding-right: 10px;
            font-size:26px;
        }

.about-p-div {
    height: 400px;
    width: 100%;
    margin: 20px;
    border-radius: 40px;
    border: 3px solid #e2e2e2;
    box-shadow: 10px 5px 5px #f6f6f6;
    padding: 130px 20px 0px 40px;
}

.about-imgdiv {
    height: 400px;
    width: 100%;
    margin: 20px;
    border-radius: 40px;
}

.about-img {
    height: 100%;
    width: 100%;
    border-radius: 40px;
    object-fit: cover;
}

.modal-header-d-flex {
    width:100%;

}