


.navbar {
    font-size: 18px;
}



.navbar-brand {
    font-size: 27px;
}

#footer {
    height: 80px;
    font-size: 16px;
    background:white;
}

.main-bodyheader {
    background: url(../images/MainPagePic1.jpg);
    border-radius: 30px;
    min-height:300px;
}

.about-course-part-imgdiv {
    height:200px;
    width:200px;
}

.list-itd li {
    display: inline-block;
    background: #030305;
    text-decoration: none;
}