.personalArea-userinfo {
    min-height: 140px;
}

.personalArea-lessons-references {
    height: 325px;
    width: 250px;
}

.personalArea-analysis-text {
    min-height: 150px;
    width: 80%;
}

.btn-lesson {
    height:150px;
    width:500px;
}

.passed-course-info {
    height: 40px;
    width: 35%;
}

.profile-input {
    height: 40px;
}

.update-pass-button {
    height: 40px;
}

.personalProfileCard {
    min-height:225px;
}

.profile-pass-hide {
    display: none;
}