@model SQLServerCourse.Domain.ViewModels.PersonalProfile.ProfileViewModel

@{
    ViewData["Title"] = "Личный кабинет | SQLCourse";
}

@{
    var examRowStyle = "col-md-12";
    if (Model.IsExamCompleted) examRowStyle = "col-md-6";
}

<div class="container-fluid">
    <div class="container">
        <div align="center" class="my-2">
            <h2>
                Личный кабинет
            </h2>
        </div>
        <div class="personalArea-userinfo text-white p-3 pt-3 me-0 my-3" style="font-size:20px; border-radius:40px;">
            @if (Model.IsExamCompleted)
            {
                <div class="passed-course-info mx-auto mb-3">
                    <p class="fs-5 fst-normal text-center m-auto">Вы закончили этот курс!</p>
                </div>
            }
            <div class="row">
                <div class="col-md-6 col-sm-12 text-white p" style="padding-left:80px;">
                    <div class="personalProfileCard ps-4 pt-2">
                        <form id="personalProfileFormId">
                            <input class="info-user-input" asp-for="Id" hidden="hidden"/>
                            <input class="info-user-input" asp-for="IsExamCompleted" hidden="hidden" />
                            <input class="info-user-input" asp-for="FinalGrade" hidden="hidden" />
                            <div class="mb-3">
                                Логин : <input class="info-user-input personal-profile-input-disabled" asp-for="Login" type="text">
                            </div>
                            <div class="mb-3">
                                Имя: <input class="info-user-input profile-input" asp-for="Name" class="form-control" type="text">
                            </div>
                            <div class="mb-3">
                                Фамилия: <input class="info-user-input profile-input" asp-for="Surname" class="form-control" type="text">
                            </div>
                            <div class="mb-3">
                                <button type="submit" class="btn btn-gradient text-white" id='updateInfoId'
                                        style="background: #0058b4; height: 40px;">
                                    Обновить информацию
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12" style="padding-right:80px;">
                    <div class="personalProfileCard ps-4 pt-2 pb-0">
                        <p class="mb-3">
                            Окончательный результат: @if (Model.IsExamCompleted == false)
                            {
                                <text>не получен</text>
                            }
                            else
                            {
                                <text>@Model.FinalGrade баллов из 100</text>
                            }
                        </p>
                        <button type="button" align="center" class="btn btn-gradient text-white mb-3 py-0"
                                onclick="openModal({ url: '/PersonalProfile/GetLessonRecords',  modalId: 'modalWindow'})"
                                data-toggle="ajax-modal" data-target="Modal">
                            Список оценок
                        </button>
                        <br />
                        <p >Лекций пройдено: <input asp-for="LessonsCompleted" class="personal-profile-input-disabled info-user-input" disabled="disabled" style="height:40px;"/> </p>
                        <button class="btn btn-gradient text-white" id="showChangeButton" style="background: #0058b4;">Изменить пароль</button>
                        <form id="changePasswordFormId">
                            <div class="d-flex justify-content-between mt-3 pe-5 " style="display: none;" id="changeDiv">
                                <input name="NewPassword" autocomplete="off" class="form-control profile-input profile-pass-hide mb-3 ps-3"
                                       id="changeInput" type="password" style="width: 50%; " placeholder="Введите новый пароль...">
                                <button type="submit" class="btn btn-gradient text-white profile-pass-hide" id='changePasswordButton' style="background: #0058b4;">Обновить пароль</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mx-auto mb-4 mt-0" style="align-content:center;width: 80%; height:75px; background:#1ab1c9; border-radius:35px;">
            <div class="@examRowStyle col-sm-12  text-center">
                <button type="button" align="center" class="btn btn-gradient text-white text-center" onclick="openModal({ url: '/PersonalProfile/GetLessonList', modalId: 'wideModalWindow'})"
                        data-toggle="ajax-modal" data-target="Modal">
                    Перейти к урокам
                </button>
            </div>
            @if (Model.IsExamCompleted)
            {
                <div class="col-md-6 col-sm-12 text-center">
                    <button type="button" align="center" class="btn btn-gradient text-white text-center" onclick="openModal({ url: '/FinalResult/GetUserAnalys', modalId: 'modalWindow'})"
                            data-toggle="ajax-modal" data-target="Modal">
                        Посмотреть анализ
                    </button>
                </div>
            }
        </div>
    </div>
</div>

<script>
    document.getElementById("showChangeButton").addEventListener("click", (e) => {
        e.preventDefault();

        var input = document.getElementById("changeInput");
        var changeButton = document.getElementById("changePasswordButton");

        if (input.style.display === 'block') {
            input.style.display = 'none';
            changeButton.style.display = 'none';
        }
        else {
            input.style.display = 'block';
            changeButton.style.display = 'block';
        }
    });

    document.getElementById("updateInfoId").addEventListener("click", async (event) => {
        event.preventDefault();

        var updateFormData = {
            Id: parseInt(document.getElementById("Id").value),
            IsExamCompleted: Boolean(document.getElementById("IsExamCompleted").value),
            FinalGrade: parseFloat(document.getElementById("FinalGrade").value.replace(/,/g, '.')),
            Login: document.getElementById("Login").value,
            Name: document.getElementById("Name").value,
            Surname: document.getElementById("Surname").value,
            LessonsCompleted: parseInt(document.getElementById("LessonsCompleted").value)
        };
        var jsonUpdateFormData = JSON.stringify(updateFormData);

        const response = await fetch('/PersonalProfile/UpdateInfo', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: jsonUpdateFormData
        });

        const responseBody = await response.json();
        Swal.fire({
            title: 'Уведомление!',
            text: responseBody.description,
            icon: response.ok ? 'success' : 'error',
            confirmButtonText: 'Окей',
            background: '#333',
            color: 'white',
        });
    });

    document.getElementById("changePasswordButton").addEventListener("click", async (event) => {
        event.preventDefault();

        var changePassword = {
            NewPassword: document.getElementById("changeInput").value
        };
        var jsonСhangePassword = JSON.stringify(changePassword);

        const response = await fetch('/Account/ChangeUserPassword', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: jsonСhangePassword
        });

        const responseBody = await response.json();
        Swal.fire({
            title: 'Уведомление!',
            text: responseBody.description,
            icon: response.ok ? 'success' : 'error',
            confirmButtonText: 'Окей',
            background: '#2e0066',
            color: 'white',
        });
    });
</script>



            





