@model SQLServerCourse.Domain.ViewModels.Review.CreateReviewViewModel

<div class="container-fluid">
    <div class="container">
        <form method="post" asp-controller="Review" asp-action="CreateReview">
            <div asp-validation-summary="All" style="min-height:0px;" class="text-white text-center mb-2 fs-6"></div>
            <div class="row review mb-5 mx-auto p-2">
                <div class="col-md-3 col-sm-12">
                    <button class="btn bd-cyan-500 br-40" type="submit">Отправить</button>
                </div>
                <div class="col-md-9 col-sm-12 m-auto">
                    <div class="review-text-container my-1">
                        <textarea asp-for="ReviewText" type="text" class="review-text-container textarea-review-text
                            w-100 align-top p-3 text-white" id="textarea-review" placeholder="Напишите ваш отзыв..."></textarea>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>