@model SQLServerCourse.Domain.ViewModels.Review.CreateReviewViewModel

<div class="container-fluid">
    <div class="container">
        <form method="post" asp-controller="Review" asp-action="CreateReview">
            <div asp-validation-summary="All" style="font-size:18px;margin-bottom: 10px; min-height:0px; line-height:30px;" class="text-white text-center "></div>
            <div class="row review mb-5 mx-auto p-2">
                <div class="col-md-3 col-smcol-12">
                    <button class="btn btn-review-submit" type="submit" id="button-review">Отправить</button>
                </div>
                <div class="col-md-9 col-sm-12 m-auto">
                    <div class="review-text-container my-1">
                        <textarea asp-for="ReviewText" type="text" class="review-text-container textarea-review-text
                            w-100 align-top p-3 text-white" id="textarea-review" placeholder="Напишите ваш отзыв..."></textarea>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>