<!DOCTYPE html>
<html lang="en" @*data-bs-theme="light"*@>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/account.css" />
    <link rel="stylesheet" href="~/css/baseStyles.css" />
    <link rel="stylesheet" href="~/css/courseLessons.css" />
    <link rel="stylesheet" href="~/css/documentation.css" />
    <link rel="stylesheet" href="~/css/main.css" />
    <link rel="stylesheet" href="~/css/pageForAnotherCourses.css" />
    <link rel="stylesheet" href="~/css/personalAccount.css" />
    <link rel="stylesheet" href="~/css/review.css" />
    <link href="~/css/bootstrap-darkly.min.css" rel="stylesheet" />
    @*<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">*@
</head>
<body>
    <div class="wrapper">
        <header>
            <nav class="navbar navbar-expand-lg navbar-light text-black">
                <div class="container" style="max-width:1600px;">
                    <a class="navbar-brand" href="/">SQLCourse MSSQL</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <a class="nav-link active text-black px-0" aria-current="page" href="/">На главную</a>
                        <div class="navItemRight" style="margin-left:auto;">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-white">
                                <li class="nav-item">
                                    <a class="nav-link text-black my-auto text-black" asp-controller="Review" asp-action="GetReviews">Отзывы</a>
                                </li>
                                <li class="nav-item">
                                    <button type="button" align="center" class="nav-link text-black my-auto bg-transparent" style="border:none;"
                                            data-bs-toggle="modal" data-bs-target="#documentaryModal" onclick="openModal({ url: '/Home/Documentary', modalId: 'documentaryModal'})">
                                        Документация
                                    </button>
                                </li>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <li class="nav-item">
                                        <a class="nav-link my-auto" style="color:#868da5; font-size:14px;">@User.Identity.Name</a>
                                    </li>
                                }
                                <li class="nav-item dropdown navItemRight">

                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <a class="nav-link dropdown-toggle text-black" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            Аккаунт
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">

                                            <li><a class="dropdown-item " asp-controller="PersonalProfile" asp-action="GetPersonalProfile">Личный кабинет</a>
                                            @if (User.IsInRole("Admin"))
                                            {
                                                <li><a class="dropdown-item" asp-controller="Home" asp-action="Index">Админ</a></li>
                                            }
                                            <li>
                                                <form method="post" asp-controller="Account" asp-action="Logout">
                                                    <button class="dropdown-item">Выйти</button>
                                                </form>
                                            </li>
                                        </ul>
                                    }
                                    else
                                    {
                                        <a class="nav-link text-black" asp-controller="Account" asp-action="Login">Войти</a>
                                    }
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </nav>
        </header>
        <main>
            @RenderBody()
        </main>
    </div>

    @*сoursePlan Modal*@

    <div class="modal fade" id="coursePlanModal" tabindex="-1" aria-labelledby="coursePlanModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content" style="background: #073985; border-radius:20px; color:white; border: 1px solid white;">
                <div class="modal-header" style="background:#2190a6; border-radius:20px 20px 0px 0px;">
                    <h5 class="modal-title" style="margin-left:175px;">План курса</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>
                <div class="modal-body" style="background:#333; border-radius: 0px 0px 20px 20px;">
                </div>
            </div>
        </div>
    </div>

    @*сoursePlan Modal*@

    @*documentary Modal*@

    <div class="modal fade" id="documentaryModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content" style="border-radius:20px; color:white; border: 1px solid white;">
                <div class="modal-header" style="background:#2190a6; border-radius:20px 20px 0px 0px">
                    <h5 class="modal-title" style="margin-left:100px; color:white;">Ссылки на документацию</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>
                <div class="modal-body" style="background:#333333; border-radius: 0px 0px 20px 20px;">
                </div>
            </div>
        </div>
    </div>

    @*documentary Modal*@

    @*lessonRecords Modal*@

    <div class="modal fade" id="lessonRecordsModal" tabindex="-1" aria-labelledby="lessonRecordsModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" style="min-width:40%;">
            <div class="modal-content" style="background: #073985; border-radius:20px; color:white; border: 1px solid white;">
                <div class="modal-header" style="background:#2190a6; border-radius:20px;">
                    <h5 class="modal-title" style="margin-left:250px;">Пройденные занятия</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>
                <div class="modal-body">
                </div>
            </div>
        </div>
    </div>

    @*lessonRecords Modal*@

    @*createReview Modal*@

    <div class="modal fade" id="createReviewModal" tabindex="-1" aria-labelledby="createReviewModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" style="min-width:40%;">
            <div class="modal-content" style="background: #073985; border-radius:50px; color:white; border: 1px solid white;">
                <div class="modal-body">
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>
            </div>
        </div>
    </div>

    @*createReview Modal*@

    <footer id="footer" class="footer">
        <div class="container-fluid h100perc text-black">
            <div class="container border-top">
                <div class="row text-center">
                    <div class="col-md-6 col-sm-12 h100perc">
                        SQLCourse In MSSQL© +79493597126
                    </div>
                    <div class="col-md-6 col-sm-12  h100perc">
                        m.sedykh@mail.ru 2023-2024
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://kit.fontawesome.com/1e1acde3d7.js" crossorigin="anonymous"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/checkCommonLesson.js"></script>
    <script src="~/js/modal.js"></script>
    @*<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>*@

    @await RenderSectionAsync("pageScripts", required: false)
</body>
</html>