@using SQLServerCourse.Domain.ViewModels.PersonalProfile;
@model List<LessonRecordViewModel>

@if (!Model.Any())
{
    <div class="container-fluid">
        <div class="mx-auto my-4">
            <p> На данный момент вы не прошли ни одного урока</p>
        </div>
    </div>
}
else
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center text-white table-responsive text-white">
                <table class="table text-white">
                    <thead>
                        <tr>
                            <th scope="col">Урок</th>
                            <th scope="col">Оценка</th>
                            <th scope="col">Дата</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.Count; i++)
                        {
                            <tr>
                                <td class="align-middle">@Model[i].LessonName</td>
                                <td class="align-middle">@Model[i].LessonMark</td>
                                <td class="align-middle">@Model[i].DateOfReceiving</td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
}

