@model SQLServerCourse.Domain.ViewModels.Account.LoginViewModel

@{
    ViewData["Title"] = "Вход | SQLCourse";
}

<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-3">
            </div>
            <div class="col-md-4 col-sm-6 main-content-login">
                <div class="login-panel br-bottom-40 mt-5">
                    <div class="py-5 mb-1 px-4">
                        <p class="text-white fs-2" align="center">
                            Вход | SQLCourse
                        </p>
                        <div>
                            <form autocomplete="on" method="post" asp-controller="Account" asp-action="Login">
                                <div asp-validation-summary="All" style="min-height:20px;" class="text-black text-center mb-2 fs-5"></div>
                                <input asp-for="Login" type="text" class="form-control br-40 my-3" placeholder="Логин">
                                <input autocomplete="new-password" asp-for="Password" type="password" class="form-control br-40 my-3" placeholder="Пароль">
                                <div class="text-center">
                                    <button class="btn br-40 bd-blue-500">
                                        Войти
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div align="center" class="mt-5">
                            <p class="fs-5 text-white">
                                У вас нет аккаунта SQLCourse? <br />
                            </p>
                            <a asp-controller="Account" asp-action="Register" class="fs-5 text-white fs-5 fw-bold">
                                Зарегистрируйтесь Бесплатно!
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-3">
            </div>
        </div>
    </div>
</div>

