<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 color-white text-center br-bottom-40 fs-6">
            <a href="https://habr.com/ru/articles/193136/">Хабр | Руководство по проектированию реляционных баз данных</a><br /><br />
            <a href="https://habr.com/ru/articles/440556/">Хабр | Учимся программированию Entity Relationship – диаграмм</a><br /><br />
            <a href="https://plantuml.com/ru/ie-diagram">Ezoic | Диаграмма взаимосвязи сущностей</a><br /><br />
            <a href="https://habr.com/ru/articles/254773/">Хабр | Нормализация отношений. Шесть нормальных форм</a><br /><br />
            <a href="https://falconspace.ru/list/sqlserver/sozdanie-bazy-dannykh--tablic-i-svyazey-mezhdu-nimi---489">
                Falcon Space | SQL Server. Создание базы данных,
                таблиц и связей между ними
            </a>
        </div>
    </div>
</div>


