@{
    ViewData["Title"] = "Главная страница | SQLServerCourse";
}

<div class="container-fluid">
    <div class="container px-1 pb-2 mb-0">
        <div class="row p-4 main-bodyheader d-flex justify-content-between mt-4">
            <h1 align="center" style="color:#ffffff; font-size:55px;">
                Курс по языку SQL в среде СУБД MS SQL Server
            </h1>
            <div class="col-md-8 col-sm-12" style="padding-left:50px;">
                <h3 align="center" style="color:#eff4ff ; font-weight:700; margin-top:10px;" class="fs-4">
                    Практический курс для новичков в среде MS SQL Server
                </h3>
                <p style="color:#eff4ff; font-size:22px; font-weight:600; margin-top:35px;" align="justify">
                    Изучите работу с базами данных с СУБД MS SQL Server
                    и языком запросов T-SQL: теория и практика с разборами практических заданий.
                    Учите T-SQL быстро и эффективно!
                </p>
                <div class="text-center">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a class="btn btn-mainnav margin-leftpart-mainpic" style="width:40%;" asp-controller="UserProfile" asp-action="GetUserProfile">
                            Перейти к обучению
                        </a>
                    }
                    else
                    {
                        <a class="btn btn-mainnav margin-leftpart-mainpic" asp-controller="Account" asp-action="Register">
                            Перейти к обучению
                        </a>
                    }
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <h3 align="center" class="text-white fs-4">
                    Курс содержит:
                </h3>
                <div class="about-course text-white mx-auto mt-4 px-3 py-2 fw-bold lh-lg" style="height:130px; width: 70%; font-size:18px;">
                        Занятия: 10<br />
                    Всего заданий: 91<br />
                        Практические задания: 4
                </div>
                <div class="text-center">
                    <button type="button" align="center" class="btn btn-mainnav mt-4" onclick="openModal({ url: '/Home/GetCoursePlan', modalId: 'modalWindow'})"
                            data-toggle="ajax-modal" data-target="Modal">
                        План обучения
                    </button>
                </div>
            </div>
        </div>
        <div class="row ms-4 mt-0">
            <div class="col-md-12 col-sm-12 text-center">
                <ul class="list-group list-group-horizontal  text-center list-itd">
                    <li style="border-left: 1px solid white; border-right: 1px solid white; border-radius: 0px 0px 0px 20px;" class="list-group-item"><a class="link" href="#section-2">После обучения вы сможете</a></li>
                    <li style="border-radius: 0px 0px 20px 0px" class="list-group-item"><a class="link" href="#section-3">В курсе вы будете...</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="container ps-0">
        <div class="row mt-5">
            <h2 class="h-main text-black">
                Чему вы научитесь на этом курсе
            </h2>
            <div class="col-md-4 col-sm-12">
                <div class="about-course-part">
                    <div class="about-course-part-imgdiv"><img class="about-course-part-img" src="../images/MainPagePic2.jpg" /></div>
                    <div class="about-course-part-text">Cоздавать так называемые «программы» внутри базы данных и управлять алгоритмами бизнес-логики</div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="about-course-part">
                    <div class="about-course-part-imgdiv"><img class="about-course-part-img" src="../images/MainPagePic3.jpg" /></div>
                    <div class="about-course-part-text">Основам работы с языком SQL в Среде СУБД Microsoft SQL Server</div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="about-course-part">
                    <div class="about-course-part-imgdiv"><img class="about-course-part-img" src="../images/MainPagePic4.jpg" /></div>
                    <div class="about-course-part-text">Формулировать, создавать и отлаживать различные типы запросов T-SQL</div>
                </div>
            </div>
        </div>
        <div class="row">
            <h2 class="h-main text-black mt-5">
                О курсе
            </h2>
            <div class="col-md-7 col-sm-12">
                <div class="about-p-div">
                    <p class="fs-5 m-auto">
                        В этом курсе вы научитесь работать: с базой данных, путём создания и чтения различных запросов к базам данных
                        в системе управления базами данных (СУБД) "Microsoft SQL Server 2019" и с основами языка запросов T-SQL.
                        <div class="text-center">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <a class="btn btn-mainnav margin-leftpart-mainpic fs-5" style="background: var(--color-aqua); height:45px;" asp-controller="UserProfile" asp-action="GetUserProfile">
                                    Продолжите обучение!
                                </a>
                            }
                            else
                            {
                                <a class="btn btn-mainnav margin-leftpart-mainpic fs-5" style="background: var(--color-aqua); height:45px;" asp-controller="Account" asp-action="Register">
                                    Зарегистрируйтесь и начните обучение!
                                </a>
                            }
                        </div>
                    </p>
                </div>
            </div>
            <div class="col-md-5 col-sm-12">
                <div class="about-imgdiv">
                    <img class="about-img" src="../images/MainPagePic5.jpg" />
                </div>
            </div>
         </div>
        <div class="row">
            <h2 id="section-1" class="h-main text-black mt-5">
                        Для кого этот курс
            </h2>
            <p class="fs-5 mt-4 lh-base">
                Этот курс для новичков в SQL и для людей, которые имеют некоторые знания в сфере работы с данными, в частности языка SQL
                Если вы новичок в изучении БД, то для прохождения этого курса рекомендуется ознакомиться со справочным материалом.
            </p>
            <button type="button" align="center" class="btn btn-mainnav text-white my-3 ms-4" style="border:none; max-width:200px;"
                    data-bs-toggle="modal" data-bs-target="#documentaryModal" onclick="openModal({ url: '/Home/Documentary', modalId: 'documentaryModal'})">
                Документация
            </button>
        </div>
        <div class="row">
            <h2 id="section-2" class="h-main text-black mt-5">
                После обучения вы сможете
            </h2>
            <ul class="ul-after-teach mt-3 ms-5">
                <li>Работать в среде СУБД "MS SQL Server"</li>
                <li>Писать сложные расширенные запросы используя различные функции языка T-SQL</li>
                <li>Создавать запросы для выполнения операций над таблицами</li>
                <li>Выполнять транзакции</li>
                <li>Писать хранимые процедуры</li>
                <li>Писать запросы, используя локальные переменные</li>
            </ul>
        </div>
        <div class="row">
            <h2 id="section-3" class="h-main text-black mt-5 lh-lg">
                В курсе вы будете
            </h2>
            <ol class="main-ul-willdo">
                <li>Выполнять транзакции</li>
                <li>Писать хранимые процедуры</li>
                <li>Использовать функции агрегирования для выполнения операции с набором значений</li>
                <li>Писать сложные запросы используя различные функции языка T-SQL</li>
                <li>Создавать запросы для выполнения операций над таблицами</li>
            </ol>
        </div>
        <div class="row">
            <h2 class="h-main text-black">
                Дополнительная литература
            </h2>
            <ul class="ul-lit ms-5 mt-3 lh-lg">
                <li><a href="https://learn.microsoft.com/ru-ru/sql/t-sql/language-reference?view=sql-server-ver15">Справочник по Transact-SQL | Microsoft Learn</a></li>
                <li><a href="https://info-comp.ru/programmirovanie/412-directory-transact-sql.html">Справочник Transact-SQL – основы для новичков | info-comp.ru</a></li>
                <li>Microsoft SQL Server 2012, основы T-SQL, Бен-Ган И., Райтман М.А., 2015.</li>
                <li><a href="https://metanit.com/sql/sqlserver/">MS SQL Server 2022 и T-SQL | metanit.com</a></li>
            </ul>
        </div>
        <br />
    </div>
</div>




