@{
    ViewData["Title"] = "Другие курсы | SQLCourse";
    Layout = "_Layout";
}

<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="outer-foranothercourses mx-auto my-5">
                    <div class="inner-foranothercourses">
                        На данный момент других курсов пока нет!
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


