@using SQLServerCourse.Domain.ViewModels.FinalResult;
@model ResultViewModel

@{
    ViewData["title"] = "Результат | SqlServerCourse";
}

<div class= "container-fluid">
    <div class= "container">
        <div id="fireworks"></div>
        <div class= "row">
            <div class= "col-md-3 col-sm-3">
            </div>
            <div class= "col-md-6 col-sm-6">
                <div class= "congratulation-panel text-center">
                    Поздравляем @(Model.Login)!!!
                </div>
            </div>
            <div class= "col-md-3 col-sm-3">
            </div>
        </div>
        <div class="row result-panel text-center">
            <div align = "center" class= "text-center mx-auto">
                Уважаемый @Model.Name @Model.Surname, ваш окончательный результат:
                <br />
                <p style="font-size:30px;  font-weight:700;"> @Model.CurrentGrade баллов из 100 !!!</p>
            </div>
            <div class="col-md-6 col-sm-12">
                <button type="button" class="btn-gradient text-white" style="width: 50%; background: var(--color-aqua);"
                        onclick="openModal({ url: '/FinalResult/GetUserAnalys', modalId: 'modalWindow'})" data-toggle="ajax-modal" data-target="Modal">
                    Просмотреть анализ
                </button>
            </div>
            <div class="col-md-6 col-sm-12">
                <a class="btn btn-gradient btn-lg text-white mb-4 p-0 mx-auto" style="height:75px;  width:55%; line-height:75px;"
                   asp-controller="Home" asp-action="Index">
                    На главную
                </a>
            </div>
        </div>
    </div>
</div>

<script src = "https://kit.fontawesome.com/1e1acde3d7.js" crossorigin = "anonymous"></script>