@using SQLServerCourse.Domain.ViewModels.FinalResult
@model UserAnalysViewModel

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 text-justify">
            @Model.UserAnalys
        </div>
    </div>
</div>
